# scons
.sconsign.dblite
.sconf_temp
config.log
*.o

# vim
*.sw[a-z]

# emacs
*~
*#
.#*

*.oni
*.mov
*.pyc

*.model*
*.features

AIInput/*.exe
AIInput/*.dll
AIInput/assets/params.xml
AIInput/scons/AIInput
AIInput/scons/AIInput.app/

AIamCaptureTest/*.exe
AIamCaptureTest/*.dll
AIamCaptureTest/assets/params.xml
AIamCaptureTest/scons/AIamCaptureTest
AIamCaptureTest/scons/AIamCaptureTest.app/

logs

tracking/nite2/Bin
tracking/nite2/NiTE2
tracking/nite2/libs/oscpack/bin
tracking/nite2/libs/oscpack/liboscpack.so.*

tracking/opencv/build
tracking/opencv/Tracker

