# scons
.sconsign.dblite
.sconf_temp
config.log
*.o

# vim
*.sw[a-z]

# emacs
*~
*#
.#*

*.oni
*.mov
*.pyc

*.model*
*.features

AIInput/*.exe
AIInput/*.dll
AIInput/assets/params.xml
AIInput/scons/AIInput
AIInput/scons/AIInput.app/

AIamCaptureTest/*.exe
AIamCaptureTest/*.dll
AIamCaptureTest/assets/params.xml
AIamCaptureTest/scons/AIamCaptureTest
AIamCaptureTest/scons/AIamCaptureTest.app/

logs

tracking/Bin
tracking/NiTE2
tracking/libs/oscpack/bin
tracking/libs/oscpack/liboscpack.so.*
