# scons
.sconsign.dblite
.sconf_temp
config.log
*.o

# vim
*.sw[a-z]

# emacs
*~
*#

*.oni
*.pyc

AIInput/*.exe
AIInput/*.dll
AIInput/assets/params.xml
AIInput/scons/AIInput
AIInput/scons/AIInput.app/

AIamCaptureTest/*.exe
AIamCaptureTest/*.dll
AIamCaptureTest/assets/params.xml
AIamCaptureTest/scons/AIamCaptureTest
AIamCaptureTest/scons/AIamCaptureTest.app/
